input,
select:focus,
textarea {
  font-size: 16px;
}
    
* {box-sizing:border-box;}

html,body {
	height:100%
}
    
body {
	background-color: "white";
	margin:0;
}

.categoryButton, #confirm, .ID_Confirm, #confirm_next {
	width: 49%;
	margin-top: 0.25rem;
	text-align:center;
	padding: .375rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	font-size:1rem;
}

.link {
	stroke: #999;
	stroke-width: 1.5px;
}

#shadow {
	box-shadow: 0 0 6px grey;
}

    
.container {
	background-color: "white";
	width: 100%;
	max-width: 1140px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
    
#usr{
	box-shadow: 0 0 6px grey;
	width: 72%; 
	padding: .375rem .75rem;
	border: 1px solid grey;
	border-radius: .25rem;
	text-align: center;
	margin-left:0.25rem;
}

#content {
	margin-bottom: 1.5rem;
}

#confirm {
	box-shadow: 0 0 6px grey;
	background-color: #CC2234; 
	border-color: #CC2234; 
	color:white;
	width: 26.5%; 
}

#confirm_next {
	display: block;
	margin-top: 1.5rem;
	box-shadow: 0 0 6px grey;
	background-color: #CC2234; 
	border-color: #CC2234; 
	color:white;
	width: 26.5%;
	margin-left: auto;
	margin-right:auto; 
}

#confirm:hover {
	cursor: pointer;
}

#userInputStd {
	margin-bottom: 2.5rem;
}
 

.textBox {
	width:100%;
	margin-top: 0.25rem;
	padding: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	word-wrap: break-word;
	background-color:#CC2234;
	color: #FFF;
	line-height: 1.25;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: Roboto;
	box-shadow: 0 0 6px grey;
}   

.slider {
	-webkit-appearance:none;
	width: 72%;
	height:0.75rem;
	border: 1px solid #030202;
	border-radius:5px;
	background:white;
	outline:none;
	margin-bottom: 0.1rem;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance:none;
	appearance:none;
	width:1.3rem;
	height: 1.3rem;
	border-radius:50%;
	background:#CC2234;
	cursor:pointer;
}

.slider::-moz-range-thumb {
	width:1.3rem;
	height: 1.3rem;
  	border-radius: 50%;
	background:#CC2234;
  	cursor: pointer;
}

.sliderValue {
	display:block;
	width: 4.5rem;
	height: 2.5rem;
	text-align:center;
	padding-top: 0.375rem;
	background-color:white;
	border: 3px solid #CC2234;
	border-radius: 15%;
	margin:0.5rem auto 1.0rem auto;
}

@media screen and (min-width: 601px){
	.node_text {
		font-size: 100%;
		font-weight: 800;
	}
}
	
@media screen and (max-width: 600px){
	.node_text {
		font-size: 70%;
		font-weight: 800;
	}
	.categoryButton {
		width: 100%;
	}
	#confirm {
		width: 100%;
	}
	#usr {
		width: 100%;
	}
	.slider {
		width: 100%;
	}
}
